.navbar {
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.search-box {
  max-height: fit-content;
}
.font {
  max-width: 250px;
}
.logo {
  max-width: 50px;
  border-right: 2px solid black;
  position: absolute;
}
span {
  padding-right: 1rem;
}
.body{
  max-width: 950px;
  align-content: center;
  margin: 10px auto;
  padding: 50px;
}
