.navbar {
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: azure;
  border-bottom: 1px solid black;

  /*transition: 0.4s; !* Adds a transition effect when the padding is decreased *!*/
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
}
.font {
  max-width: 250px;
}
.logo {
  max-width: 50px;
}
span {
  padding-right: 1rem;
}
.body{
  max-width: 950px;
  align-content: center;
  margin: 10px auto;
  padding: 50px;
}
