<div *ngFor="let Card of Cards">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{ Card.name }}</mat-card-title>
      <mat-card-subtitle>{{ Card.description }}</mat-card-subtitle>
    </mat-card-header>
    <img (click)="like()" mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTECYi1AapNnpLdnLh3jI53QSrrKRedFLnTN-90-sJJSjzFy85g" alt="Photo of a Shiba Inu">
<!--    <div *ngIf="clicked"><img mat-card-image src="../../assets/images/like.png"> </div>-->
    <mat-card-actions>
      <div *ngIf="touched"><i style="color: red" class="fas fa-heart"></i> </div>
      <div *ngIf="!touched">  <i (click)="touch()" class="fa fa-heart-o" aria-hidden="true"></i></div>
      <div><i class="fa fa-share-alt" aria-hidden="true"></i></div>
      <div (click)="saved()" class="saved"><i class="fa fa-bookmark-o" aria-hidden="true"></i></div>
    </mat-card-actions>
    <mat-card-content>
      <div *ngIf="touched">
        <p>Liked by <strong>1,231 people</strong></p>
      </div>
      <div *ngIf="!touched">  <p>Liked by <strong>1,230 people</strong></p></div>

      2 min ago
    </mat-card-content>
    <hr>
    <mat-form-field floatLabel="never" class="example-full-width">
      <input matInput placeholder="Add a comment...">
    </mat-form-field>

  </mat-card>
  <br>
</div>

