<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Images</h1>
    </div>
    <div class="col-md-6">
<div class="container">
  <div class="row">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 my-4">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <h1 style="font-family: sans-serif">Instagram</h1>
          <hr>
          <h3>Login Form</h3>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>
                Username
              </mat-label>
              <input matInput
                     type="text"
                     name="username"
                     autocomplete="off"
                     formControlName="username">
            </mat-form-field>
            <br>
            <span *ngIf="!loginForm.get('userData.username').valid && loginForm.get('userData.username').touched"
                  class="help-block">Please enter a valid Username!</span>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>
                Password
              </mat-label>
              <input matInput type="password" name="pswrd" autocomplete="off" formControlName="pswrd">
            </mat-form-field>
            <br>
            <span *ngIf="!loginForm.get('userData.pswrd').valid && loginForm.get('userData.pswrd').touched"
                  class="help-block">Please enter a valid Password!</span>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
          <hr>
          <p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>
        </div>
        </form>
  </div>
</div>
</div>

