.side-body {
  position: fixed;
}
.example-header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSegaQb2F5_wJKhvTX0YudgsCPiyhHbm3pZFr9l8Yn_Z89B8rYC');
  background-size: cover;
  margin: 5px;
  stroke: white;
  box-shadow: red;
  border: 2px solid red;
}
.box {
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #e6e6e6;
}
.box2 {
  width: 100%;
  max-height: 200px;
  overflow-y: hidden;
  border: 1px solid #e6e6e6;
}
.example-header-image1 {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSegaQb2F5_wJKhvTX0YudgsCPiyhHbm3pZFr9l8Yn_Z89B8rYC');
  background-size: cover;
  margin: 5px;
}
