<div class="container">
  <div class="row">
    <div class=" col-lg-12 col-md-10 col-sm-8 col-xs-6 my-4">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <form [formGroup]="signUpForm" (ngSubmit)="onSignup()">
      <div formGroupName="userData">
         <div class="example-container">
          <mat-form-field appearance="outline">
            <mat-label>
              First Name
            </mat-label>
            <input matInput required
                   type="text"
                   name="firstName"
                   autocomplete="off"
                   formControlName="firstName">
          </mat-form-field>

          <span *ngIf="!signUpForm.get('userData.firstName').valid && signUpForm.get('userData.firstName').touched"
                class="help-block">Please enter a valid name!</span>
          <mat-form-field appearance="outline">
            <mat-label>
              Last Name
            </mat-label>
            <input matInput required
                   type="text"
                   name="lastName"
                   autocomplete="off"
                   formControlName="lastName">
          </mat-form-field>

          <span *ngIf="!signUpForm.get('userData.lastName').valid && signUpForm.get('userData.lastName').touched"
                class="help-block">Please enter a valid name!</span>

          <mat-form-field appearance="outline">
            <mat-label>
               Email
            </mat-label>
            <input matInput
                   type="text"
                   name="email"
                   autocomplete="off"
                   formControlName="email">
          </mat-form-field>

          <span *ngIf="!signUpForm.get('userData.email').valid && signUpForm.get('userData.email').touched"
                class="help-block">Please enter a valid email!</span>



          <mat-form-field appearance="outline">
            <mat-label>
              Mobile No.
            </mat-label>
            <input matInput
                   type="integer"
                   name="mobile"
                   autocomplete="off"
                   formControlName="mobile">
          </mat-form-field>

          <span *ngIf="!signUpForm.get('userData.mobile').valid && signUpForm.get('userData.mobile').touched"
                class="help-block">Please enter a valid number!</span>




          <mat-form-field appearance="outline">
            <mat-label>
              Password
            </mat-label>
            <input matInput type="password" name="pswrd" autocomplete="off" formControlName="pswrd">
          </mat-form-field>

          <span *ngIf="!signUpForm.get('userData.pswrd').valid && signUpForm.get('userData.pswrd').touched"
                class="help-block">Please enter a valid Password!</span>


          <mat-form-field appearance="outline">
            <mat-label>
             Re-enter Password
            </mat-label>
            <input matInput type="password" name="pswrd1" autocomplete="off" formControlName="pswrd1">
          </mat-form-field>

          <span *ngIf="!signUpForm.get('userData.pswrd1').valid && signUpForm.get('userData.pswrd1').touched"
                class="help-block">Please enter a valid Password!</span>

        <hr>

    <p>By creating an account you agree to our <a href="https://help.instagram.com/581066165581870" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="btn btn-danger">Cancel</button>
      <button type="submit" class="btn btn-success" (click)="onclick()">Sign Up</button>
    </div>
  </div>
      </div>
</form>
</div>
</div>
</div>

